@import "tailwindcss";
@import "tw-animate-css";
@import "../theme/.generated/colors.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* Base design tokens */
	--font-sans: var(--font-hanken-grotesk);
	--font-mono: JetBrains Mono, monospace;
	--font-serif: Source Serif 4, serif;

	/* Border radius */
	--radius: 0.5rem;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Spacing */
	--breakpoint-xs: 20rem;
	--spacing-container: 2rem;

	/* Shadows */
	--shadow-color: hsl(0 0% 0%);
	--shadow-opacity: 0.1;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0;
	--shadow-offset-y: 1px;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow:
		0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

	/* Chart */
	--chart-1: oklch(0.62 0.19 259.81);
	--chart-2: oklch(0.55 0.22 262.88);
	--chart-3: oklch(0.49 0.22 264.38);
	--chart-4: oklch(0.42 0.18 265.64);
	--chart-5: oklch(0.38 0.14 265.52);
}

/* Utility class for removing scrollbars */
.scrollbar-none {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.container-p {
	width: 100%;
	padding-inline: 0rem;

	@media (width >=20rem

		/* 320px */
	) {
		padding-inline: calc((100% - 20rem) / 2);
	}

	@media (width >=40rem

		/* 640px */
	) {
		padding-inline: calc((100% - 40rem) / 2);
	}

	@media (width >=48rem

		/* 768px */
	) {
		padding-inline: calc((100% - 48rem) / 2);
	}

	@media (width >=64rem

		/* 1024px */
	) {
		padding-inline: calc((100% - 64rem) / 2);
	}

	@media (width >=80rem

		/* 1280px */
	) {
		padding-inline: calc((100% - 80rem) / 2);
	}

	@media (width >=96rem

		/* 1536px */
	) {
		padding-inline: calc((100% - 96rem) / 2);
	}
}


@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground selection:bg-primary/25 dark:selection:bg-primary/40 antialiased;
	}

	html {
		@apply scroll-smooth;
	}
}